.container {
  width: 100vw;
  /* padding: 1em; */
  /* min-height: 40vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .headerSection > h1 {
  margin-top: calc(2rem + 15vh);
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
}
.container .headerSection {
  position: relative;
  height: auto;
  min-height: 60vh;
  width: 100vw;
  background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, #0dcaf0 100%),
    url("../../public/hero-bg.jpg");
  background-image: linear-gradient(
      to right,
      rgba(39, 70, 133, 0.8) 0%,
      rgb(13, 202, 240) 100%
    ),
    url("../../public/hero-bg.jpg");
}
.container .waveImg {
  position: absolute;
  /* top: 50%; */
  left: 0;
  /* height: 50%; */
  width: 100vw;
  bottom: -10%;
  z-index: 1;
}
.container .innerContainer {
  display: grid;
  place-items: center;
  width: 100%;
  /* max-width: 84rem; */
  /* margin: 0 auto; */
  gap: 2rem;
  z-index: 2;
}
.container .innerContainer .aboutSection {
  margin: 0 auto;
  width: 100%;
  max-width: 84rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center; */
  align-items: center;
  gap: 8rem;
  text-align: left;
  padding: 5vw 0;
}
.container .innerContainer .aboutSection46 {
  grid-template-columns: 4fr 6fr;
}
/* .container .innerContainer .aboutSection .leftSection {
  max-width: 50ch;
} */
.container .innerContainer .aboutSection .title {
  color: #2068a0;
  font-weight: 600;
  font-size: 2rem;
}
.container .innerContainer .aboutSection .desc {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  /* max-width: 50ch; */
  font-family: "Roboto", sans-serif;
  color: #9fa1a4;
}
.container .innerContainer .aboutSection img {
  max-width: 100%;
  /* max-width: 50ch; */
  height: auto;
}
.container .innerContainer .linearGrad {
  /* height: auto; */
  width: 100%;
  padding: 5vw 0;
  color: white;
  background: linear-gradient(to right, #5c10f2c9 0%, #14b2fd 100%);
}

@media screen and (max-width: 1000px) {
  .container .innerContainer .aboutSection {
    grid-template-columns: 1fr;
  }
  .container .waveImg {
    top: 90%;
  }
}
