.App {
  text-align: center;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.fluid-container {
  padding-left: clamp(1rem, 1rem + 10vw, 4rem) !important;
  padding-right: clamp(1rem, 1rem + 10vw, 4rem) !important;
}
a {
  text-decoration: none;
  /* color: #afafaf; */
}
a:hover {
  color: white;
}
