.App {
  text-align: center;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.fluid-container {
  padding-left: clamp(1rem, 0.1rem + 10vw, 4rem) !important;
  padding-right: clamp(1rem, 0.1rem + 10vw, 4rem) !important;
}
a {
  text-decoration: none;
  /* color: #afafaf; */
  transition: all 100ms ease;
}
svg {
  transition: all 100ms ease;
}
a:hover {
  color: white;
}
button:hover {
  opacity: 0.8;
  transition: all 100ms ease;
}
